.container {
  max-width: px(1370px, 'fhd');
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* GRID: special styles for Section VITAMINS */
  /* ------------------------------------------------------- */
  .section-vitamins & {
    .column {
      width: 50%;
    }
  }

  /* GRID: special styles for Section NEWS */
  /* ------------------------------------------------------- */
  .section-news & {
    justify-content: space-between;

    .column {
      width: 30%;
      max-width: 557.33px;
    }
  }
}

.column {
  box-sizing: border-box;

  /* GRID: special styles for Footer */
  /* ------------------------------------------------------- */
  .footer & {
    position: relative;
    width: 50%;
  }
}
