//  Color Variables
// -------------------------------------------------------------------------- */

// colors
$black: #000!default;
$white: #fff!default;
$yellow: #F4C92F;

// THEME COLOR 
$theme-color: $yellow;

// Functional Colors

$hover-color: red;

// COMPONENTS VARIABLES 
// -------------------------------------------------------------------------- */

// Buttons 

// $primary-button-text-color: #fefefe;
// $primary-button-bg-color:  linear-gradient(90deg, rgba(0,197,193,1) 0%, rgba(1,152,149,1) 100%);
// $primary-button-text-color-hover: #fefefe;
// $primary-button-bg-color-hover:  linear-gradient(90deg, rgba(0,104,102,1) 0%, rgba(0,104,102,1) 100%);

// $secondary-button-text-color: #00b2ae;
// $secondary-button-bg-color: #ffffff;
// $secondary-button-text-color-hover: #00b2ae;
// $secondary-button-bg-color-hover:  #e8e8e8;

// LAYOUT VARIABLES 
// -------------------------------------------------------------------------- */

// Footer 

// $footer-background-color: #ececec;;
