// =============================================================================
// Mixin Fonts
// =============================================================================

// FONT FACE
// -------------------------------------------------------------------------- */

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {

  $file-path: '../fonts/#{$file-path}';

  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot'); /* IE9 Compat Modes */
      src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           font-url('#{$file-path}.woff')                format('woff'),
           font-url('#{$file-path}.ttf')                 format('truetype'),
           font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
  }
}

// FONT mixin
// -------------------------------------------------------------------------- */

@mixin font($family: false, $size: false, $colour: false, $weight: false, $lh: false) {

  @if $family { font-family: $family; }
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}
